#preview {
    flex: 1 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#preview-controls {
    position: absolute;
    top: 1rem;
    display: flex;
    width: 100%;
    z-index: 1;
    div {
        padding: 0.5rem;
    }
}

#preview-canvas {
    position: absolute;
    z-index: 0;
    width: 100%;
}
